@font-face {
    font-family: 'text';
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'com';
    src: url(../font/SquarePeg-Regular.ttf);
}
*{
    font-family: 'text';
}
body,html{
    margin: 0;
    padding: 0;
    background: #e8f5f0;
}
.top{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #d2e3e4;
}
.top p{
    color: #212529;
    font-size: 18px;
    font-weight: 400;
}
.top_1{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #00D328 0%, #008B27 100%);

}
.top_blokc{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top_blokc img{
    width: 20%;
    height: fit-content;
    margin-top: 10px;
}
.top_text{
    display: flex;
}
.top_text a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    font-size: 19px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}
.top_text a:hover{
    text-decoration: underline;
}
.top_text .knopka{
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3DD963;
    font-size: 19px;
    font-weight: 600;
    background: #ffff;
    border-radius: 10px;
}
.shadoww:hover{
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    text-decoration: none!important;
}
.cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.been .rewiev_left{
    position: absolute;
    height: 500px;
    width: fit-content;
    top: 20%;
    right: 60%;
    z-index: 2;
}
.been .rewiev_right{
    position: absolute;
    height: 500px;
    width: fit-content;
    top: 20%;
    left: 60%;
    z-index: 2;
}
.cont_text{
    width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 60px;
}
.cont_text h1{
    text-transform: uppercase;
    color: #1E1E1E;
    font-size: 30px;
    font-weight: 700;
}
.cont_text span{
    color: #3DD963;
    text-transform: none;
}
.cont_text p{
    color: #3F3F3F;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.cont_image{
    display: flex;
    justify-content: center;
}
.cont_image img{
    width: 20%;
    height: fit-content;
    margin-left: 15px;
    margin-right: 15px;
}
.enjoy{
    width: 100%;
    display: flex;
    justify-content: center;
}
.enjoy p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 75px;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(87.57deg, #00D328 -102.52%, #008B27 194.17%);
    margin-left: 15px;
    margin-right: 15px;
}
.enjoy img{
    width: 29px;
    height: fit-content;
    margin-right: 10px;
    margin-left: 10px;
}
.enjoy .icon_4{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.enjoy .icon_5{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.sun{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sun img{
    width: 15;
    height: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.doctor{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.doctor_blokc{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.doctor_text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.doctor_text h1{
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
span{
    color: #3DD963;
    text-transform: uppercase;
}
.doctor_text h4{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
}
.doctor_text p{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 150%;
}
.doctor_blokc img{
    width: 40%;
    height: fit-content;
}
.what{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/background.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    padding-top: 100px;

}
.what h1{
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 170px;
    margin-top: -40px;
}
span{
    color: #3DD963;
    text-transform: uppercase;
}
.what_blokc{
    width: 90%;
    display: flex;
    justify-content: center;
}
.what_blokc img{
    width: 40%;
    height: fit-content;
}
.img img{
    width: 90px;
}
.image_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    width: 300px;
    height: fit-content;
}
.rated{
    width: 300px;
    height: 75px;
    display: flex;
    justify-content: end;
    border: 1.81px solid #3DD963;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #ffff;
    padding-left: 15px;
    padding-right: 15px;
    border-left: none;

}
.rated h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 44px;
    font-weight: 600;
    margin-right: 20px;
}
.rated_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rated_1 img{
    height: 15px;
    width: fit-content;
    margin-bottom: 10px;

    margin-top: 10px;
}
.rated_1 h4{
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100%;
}
.rated_1 span{
    text-transform: none;
    margin-top: 0px;
}
.natural{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.natural p{
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.natural img{
    width: 30px;
    height: fit-content;
    margin-right: 15px;
}
.natural a{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3DD963;
    font-size: 19px;
    font-weight: 600;
    background: #ffff;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
}
.what .keto{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.been{
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.been_blokc{
    position: relative;
    z-index: 3;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #3DD963;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #FFFFFF;
}
.been_blokc img{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.arrow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.arrow img{
    width: 40px;
    height: fit-content;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
}
.been_blokc p{
    width: 90%;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    line-height: 160%;
}
.been_blokc span{
    text-transform: none;
}
.been_blokc h3{
    width: 90%;
    color: #3DD963;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    font-family: 'com';
}
.and_top{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(87.09deg, #00D328 -25.66%, #008B27 97.58%);
    margin-top: 50px;
}
.and_blokc{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.and_blokc p{
    color: #FFFFFF;
    line-height: 150%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.and_blokc .start{
    width: 210px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3DD963;
    font-size: 25px;
    font-weight: 600;
    background: #ffff;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 30px;
}
.and_blokc h5{
    line-height: 150%;
    color: #E6E6E6;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.contact_and{
    display: flex;
}
.contact_and a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    border-left: 1px solid #FFFFFF;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.contact_and .privacy{
    border-left: none;
}
.and_blokc img{
    width: 260px;
    height: fit-content;
}
.and_blokc h4{
    color: #E6E6E6;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}
.keto{
    display: flex;
}
.cont img{
    width: 40%;
    height: fit-content;
}
.cont_image img{
    width: 13%;
}
@media screen and (max-width: 900px){
    .image_1{
        width: 70%;
    }
    .rated_1 h4{
        font-size: 10px;
    }
    .what_blokc img{
        width: 30%;
    }
    .rated{
        width: 90%;
    }
    .img{
        width: 100%;
    }
    .top p{
        text-align: center;
        font-size: 12px;
    }
    .rated_1 img{
        height: 15px;
        width: fit-content;
    }
    .natural img{
        height: 30px;
        width: fit-content;
    }
    .natural p{
        font-size: 16px;
    }
    .top_blokc{
        flex-direction: column;
        align-items: center;
    }
    .cont{
        flex-direction: column;
        align-items: center;
    }
    .cont_text{
        width: 90%;
        margin-left: 0;
    }
    .cont_text h1{
        text-align: center;
        font-size: 20px;
    }
    .cont_text p{
        text-align: center;
        font-size: 18px;
    }
    .what_blokc{
        flex-direction: column;
    }
    .top_blokc img{
        width: 90%;
        margin-bottom: 30px;
    }
    .cont img{
        width: 100%;
    }
    .sun{
        flex-wrap: wrap;
    }
    .doctor_blokc{
        flex-direction: column;
        align-items: center;
    }
    .doctor_text {
        width: 90%;
    }
    .doctor_text h1{
        text-align: center;
        font-size: 18px;
    }
    .doctor_text h4{
        text-align: center;
        font-size: 16px;
    }
    .doctor_text p{
        text-align: center;
        font-size: 14px;
    }
    .doctor_blokc img{
        width: 90%;
    }
    .enjoy{
        flex-direction: column;
        align-items: center;
    }
    .been_blokc{
        width: 70%;
    }
    .what h1{
        text-align: center;
    }
    .enjoy .icon_5{
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }
    .enjoy .icon_4{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
    }
    .enjoy p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}



